<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.WeatherMapper">
    <select id="getWeather" resultType="com.example.demo.entity.Weather">
        SELECT city,weather,temperature FROM weather WHERE city = #{city}
    </select>
</mapper>
